<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDay</title>
    <link rel="stylesheet" href="gift.css">
</head>
<body>
    <audio controls autoplay loop preload="auto">
        <source src="/images/p2_audio.mp3" type="audio/mpeg">
    </audio>
    <video autoplay loop muted play-inline class="back-video">
        <source src="/images/gift_page_back_video.mp4">
    </video>
     
    <div class="fly-out">
           <p> Happy Birthday! 🎉

Today's all about celebrating you—your amazing spirit, infectious laughter, and all the memories we've shared. And what's a celebration without a surprise? 🥳

So, pack your bags because… we're heading to GOA! 🌴🏖️

This trip is our way of saying thank you for being such an incredible friend. Get ready for new adventures and unforgettable moments!

We can't wait to create even more memories together. Cheers to a year filled with endless possibilities and joy!</p>
        </div>
    </div>
</body>
</html>
