<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDay</title>
    <link rel="stylesheet" href="gift.css">
</head>
<body>
    <div class="p1-body">
        <div class="fly-in">
           <div>3</div>
           <div>2</div>
           <div>1</div>
        </div>
         
        <div class="fly-out">
            Happy Birthday,  🎉<br>
            Today's all about celebrating you—your incredible spirit, your infectious laughter, and the countless memories we've shared. But what's a celebration without a little surprise? 🥳
            We've been thinking about how much fun we've had together, and it got us inspired. So, pack your bags and get ready to soak in the sun, sand, and sea because… we're heading to GOA! 🌴🏖️
            Consider this our little way of saying thank you for being the amazing friend that you are. Get ready for new adventures, unforgettable moments, and a trip that's going to be as incredible as you!
        </div>
    </div>
</body>
</html>