<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDay</title>
    <link rel="stylesheet" href="p2_style.css">
   
</head>
<body>
    <audio id="myAudio">
        <source src="/images/p2_audio.mp3" type="audio/mpeg">
    </audio>
    
    <video autoplay loop muted play-inline class="back-video">
        <source src="/images/p2_back_video.mp4">
    </video>
    <div class="item-container">
        
          <div class="card" id="memory">
                <img src="/images/memory.jpg" alt="">
                </div>
             <div class="card" id="wish">
                <img src="/images/wish_img.jpg" alt="">
               </div>
             <div class="card" id="gift">
                <img src="/images/gift_img.jpg" alt="">
                </div> 
        </div>
</body>
<script src="p2.js"></script>
</html>

