<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDay</title>
    <link rel="stylesheet" href="p2_style.css">
   
</head>
<body>
    <audio id="myAudio">
        <source src="/images/p2_audio.mp3" type="audio/mpeg">
    </audio>
    
    <video autoplay loop muted play-inline class="back-video">
        <source src="/images/p2_back_video.mp4">
    </video>
    <div class="item">
        <ul>
            <form action="memory.html"><button class="btn">Memory</button></form>
            <form action="wishes.html"><button class="btn">Wish</button></form>
            <form action="gift.html"><button class="btn">Gift</button></form>
        </ul>
    </div>
</body>
<script src="p2.js"></script>
</html>

