<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDay</title>
    <link rel="stylesheet" href="wishes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <audio controls autoplay loop preload="auto">
        <source src="/images/card_hover_sound.mp3" type="audio/mpeg">
    </audio>
  
    <div class="container">    
      
        <div class="card" id="wish-card">
            From <h2>Dixit</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Arun</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Nayan</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Biki</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Ankur</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Disa</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Deep</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    
        <div class="card" id="wish-card">
            From <h2>Bijit</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 

        
        <div class="card" id="wish-card">
            From <h2>Anshu</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 

        
        <div class="card" id="wish-card">
            From <h2>Karan</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 

        
        <div class="card" id="wish-card">
            From <h2>Vivek</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 

        
        <div class="card" id="wish-card">
            From <h2>Rajib</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 

        
        <div class="card" id="wish-card">
            From <h2>Abhijit</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 

        
        <div class="card" id="wish-card">
            From <h2>Swapnil</h2>
           <p> 🎉 Happy Birthday! 🎂

May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟

As you celebrate this special milestone, may you be surrounded by the warmth and love of those who cherish you the most. Each year is a new chapter in your life, and this one promises to be filled with even more exciting opportunities and unforgettable moments.

May your heart be light, your spirits high, and your dreams within reach. Let today be a reminder of how far you've come and all the amazing things still to come. You're not just another year older; you're another year wiser, stronger, and even more incredible than before.

Take time to enjoy the little moments, indulge in your favorite treats, and bask in the joy of being celebrated. Here's to health, happiness, and the continued pursuit of everything that brings you joy. 🎁

Thank you for being the amazing person you are—your kindness, creativity, and passion inspire those around you every day. On this special day, know that you are loved, appreciated, and truly special. 💖

So, raise a glass to yourself and the wonderful life you're living. Cheers to a fabulous year ahead, full of love, laughter, and endless possibilities. The best is yet to come! 🥂

Happy Birthday, and may all your wishes come true! 🎈🎉
           </p>
        </div> 
    </div>
    <script src="wish.js"></script>
    </body>
</html>
