<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDay</title>
    <link rel="stylesheet" href="wishes.css">
</head>
<body>
    <div class="container">    
      
        <div class="card">
            From <h2>Dixit</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Arun</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Nayan</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Biki</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Ankur</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Disa</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Deep</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
    
        <div class="card">
            From <h2>Bijit</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 

        
        <div class="card">
            From <h2>Anshu</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 

        
        <div class="card">
            From <h2>Karan</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 

        
        <div class="card">
            From <h2>Vivek</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 

        
        <div class="card">
            From <h2>Rajib</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 

        
        <div class="card">
            From <h2>Abhijit</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 

        
        <div class="card">
            From <h2>Swapnil</h2>
           <p> "🎉 Happy Birthday! 🎂 May your day be filled with laughter, joy, and all the things that make you happiest. Here's to another year of wonderful memories, new adventures, and endless possibilities. Wishing you all the best on your special day! 🌟"
           </p>
        </div> 
          
             
       
    </div>
    </body>
</html>